<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Toy Story</mat-card-title>
    <mat-card-subtitle>1995</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Woody é um boneco cowboy de bom coração que pertence a um jovem chamado Andy. 
      Porém vê sua posição como o brinquedo favorito de Andy comprometida quando seus pais lhe compram um outro brinquedo, o Buzz Lightyear, 
      uma figura de ação. Ainda pior, Buzz é arrogante e acha que ele é um astronauta de verdade em uma missão para retornar ao seu planeta natal.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'"></bar-rating>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>