<div class="row" style="margin-bottom: none">
	<div class="col"></div>
	<div class="col"></div>

	<div class="col-lg-4 col-sm-12">
		<nav *ngIf="allFilms.length > 0" style="margin-top: 2%; margin-left: 10%" aria-label="Page navigation example">
			<ul class="pagination">
				<li  class="page-item"><a (click)="previousPages()" class="page-link">Previous</a></li>

				<li [ngClass]="{'active': setPage == 1}" (click)="seletecPage(1)" 
					class="page-item"><a class="page-link">{{ indexPagination + 1 }}</a></li>

				<li [ngClass]="{'active': setPage == 2}" (click)="seletecPage(2)" 
					class="page-item"><a class="page-link">{{ indexPagination + 2 }}</a></li>

				<li [ngClass]="{'active': setPage == 3}" (click)="seletecPage(3)" 
					class="page-item"><a class="page-link">{{ indexPagination + 3 }}</a></li>

				<li class="page-item"><a (click)="nextPages()" class="page-link">Next</a></li>
			</ul>
		</nav>
	</div>
</div>



<div class="row" style="margin-left: 16px" >
    <div *ngFor="let film of viewFilms"  style="margin: 8px">
      <app-film-card [film]='film' (hideMovie)='removeMovie($event)' (rateMovie)='rateMovie($event)'></app-film-card>
    </div>
</div>