<div class="row">
    <div class="column" *ngFor="let n of [1,2,3,4,5,6,7,8]">
        <div class="card" style="width: 99%;">
		  <img class="card-img-top" src="https://picsum.photos/g/200/300" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Titulo do Filme</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>
    </div>
</div>